Package: com.user.notchnowplaying
Name: Notch Now Playing
Version: 0.1.20
Architecture: iphoneos-arm64e
Description: A lock-screen Now Playing notch prototype.
Maintainer: USER
Author: USER
Section: Tweaks
Depends: mobilesubstrate, preferenceloader
