Package: com.user.notchnowplaying
Name: 瀏海音樂播放器
Version: 0.1.110
Architecture: iphoneos-arm64e
Description: 在螢幕瀏海附近顯示正在播放的音樂資訊。
Maintainer: USER
Author: USER
Section: Tweaks
Depends: mobilesubstrate, preferenceloader
