Package: com.user.nnpbacklightflowprobe
Name: NNP Backlight Flow Probe
Version: 0.1.5
Architecture: iphoneos-arm64e
Description: Passive SpringBoard backlight transition diagnostics.
Maintainer: USER
Author: USER
Section: Tweaks
Depends: mobilesubstrate
